 <header>
   <h1>ねこったー</h1>
 </header>
    
<div class="edit">
<h1>編集</h1>

<%= form_for (@tweet) do |f|%> 
<%=image_tag"cat1.png" %>

<p class="row5" >
<%=f.label:name,"name" %><br>
<%=f.text_field :name%>
</p>

<p class="row6" >
<%=f.label:text,"text" %><br>
<%=f.text_area :text %>
</p>

<p class="contents4">
 <%=link_to "編集",tweets_path %>
</p>
  <% end %>
  </div>