
    <div class="contents">
      <% @tweets.each do |tweet|%>
      <div class="clearfix">
        <%=image_tag"cat1.png",:width => '50'%>
        <div class="message_box">
          <p class="user_name">
          <%= tweet.id %>   <%= tweet.name %>
          <p class="text">
          <%= tweet.text %>
          <div class="message_btn">
          <%=link_to"詳細", tweet_path(tweet.id), :class=>"btn1" %>
          <%=link_to"編集",edit_tweet_path(tweet.id), :class=>"btn2" %>
          <%=link_to"削除",tweet_path(tweet.id), :class=>"btn3", method: :delete,data:{confirm:"本当に削除してよろしいですか?"} %>
          </div>
          </p>
        </div>
      </div>
        <% end %>
    <div class="contents2">
      <%= paginate(@tweets) %>
   </div>

 </div>
