<!DOCTYPE html>
<html>
  <head>
    <title>Nekotter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <header class="header">
    <div class="header__bar row">
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="post" href="/tweets/new">投稿する</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post1' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post2' %>
        </div>
      <% end %>
    </div>
  </header>
 
 
    <%= yield %>
  </body>
</html>
